@import 'bourbon/_bourbon'; // http://bourbon.io//
@import 'neat/_neat';

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


::selection {
      background: #2BC0E4;
    color: white;
}
::-moz-selection {
      background: #2BC0E4;
    color: white;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	background-color: $color-1;
	@include font-smoothing;
	font: {
		size: 100%;
	}
	color:$color-3;

	&.overflow-hidden {

		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: $heading-font;
}

a, p {
	color: $color-3;
	text-decoration: none;
	outline: 0px;
	  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $typing-font;
}

.cd-container { 
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
	@include clearfix;
}

html, body {
	height: 100%;
}



.fa-angle-down:hover{
	transform: translateY(5px)
}


.fa-angle-down{
	font-size: 3em!important;
	position: absolute;
	bottom: 0.5em;
	z-index: 1000;
	display: block;
	border: none;
	cursor: pointer;
	background: transparent;
	color: $color-3;
	width:100%;
	text-align: center;
	-webkit-transition: -webkit-transform .3s, color .3s;
	-moz-transition: -moz-transform .3s, color .3s;
	transition: transform .3s, color .3s;	
}

@include max-width(XM){

.fa-angle-double-down{
	display: none;
}

}


@include max-width(S){
	.fa-angle-double-down{
		font-size: 3em!important;
	}
}


.parallax-img{
			width: 100%;
			height: 100%;
}

.splash-page {
	overflow-x: hidden;
	position: relative;
	z-index: 1;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

	/* fix bug on iOS */
	height: 100vh;
	overflow-y: auto;
	
	-webkit-overflow-scrolling: touch;
	
	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	&.transition-overide{
		@include transition(transform $animation-duration);
		@include transition-timing-function(cubic-bezier(.91,.01,.6,.99)); 
	}
	.navigation-is-open & {
		@include transform(translateX(500px));
		@include max-width(M){
			@include transform(translateX(100%));
		}
	}

	.lightbox-is-open & {
		@include transform(translateX(-50%));
		@include max-width(M){
			@include transform(translateX(-100%));
		}
	}

	div{
	width: 100%;
	height:100%;
	max-width: 100vw;
	max-height: 100vh;
	margin: 0px auto;
	overflow: hidden;
	ul{
		padding:0px;
		margin: 0px;
		max-width: 100vw;
		max-height: 100vh;
		width: 100%;
		height:100%;
		.logo-container{
			div{
				max-width: 1400px;
				width: 100%;
				height: auto;
				margin: 0px auto;
				@include vertical-align;
				.portfolio-header{
					h1{
						line-height: normal!important;
						transform: translateY(0%);
					}
				}
				div{
					@include horizontal-align;
					display: inline-block;
					max-width: inherit;
					width: auto;
					p{
						font-size: 2em;
						text-align: center;
					}
					.logo-image{
						max-width: 300px;
						height: auto;
					}
					h1{
						display: inline-block;
						font-size: 9em;
						line-height: 110px;
						padding: 0em 0.2em;
						margin: 0px;
						position: relative;
						top: 50%;
						-webkit-transform: translateY(-20%);
						-ms-transform: translateY(-20%);
						transform: translateY(-20%);

					}
				}
			}
			@include max-width(notebook){
			div{
				max-width: 1000px;
				width: 100%;
				height: auto;
				margin: 0px auto;
				@include vertical-align;
				div{
					p{
						font-size: 2em;
						text-align: center;
					}
					.logo-image{
						max-width: 200px;
						height: auto;
					}
					h1{
						display: inline-block;
						font-size: 6em;
						line-height: 74px;
						padding: 0em 0.2em;
						margin: 0px;
						position: relative;
						top: 50%;
						-webkit-transform: translateY(-20%);
						-ms-transform: translateY(-20%);
						transform: translateY(-20%);

					}
				}
			}	
			}
			@include max-width(XM){
			div{
				max-width: 320px;
				width: 100%;
				height: auto;
				margin: 0px auto;
				@include vertical-align;
				div{
					p{
						font-size: 1em;
						text-align: center;
					}
					.logo-image{
						max-width: 100px;
						height: auto;
					}
					h1{
						display: inline-block;
						font-size: 2em;
						line-height: 27px;
						padding: 0em 0.2em;
						margin: 0px;
						position: relative;
						top: 50%;
						-webkit-transform: translateY(-40%);
						-ms-transform: translateY(-40%);
						transform: translateY(-40%);

					}
				}
			}	
			}
		}
		li{
			width: 100%;
			height: 100%;
		}

	}
	}
}



.cd-header {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(32, 37, 39, 0.95);
	height: $header-height-S;
	width: 100%;
	z-index: $header-zindex;
	@include font-smoothing;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	@include MQ(M) {
		height: $header-height-M;
	}

	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	@include transition(transform $animation-duration);
	@include transition-timing-function(cubic-bezier(.91,.01,.6,.99)); 

	.navigation-is-open & {
		@include transform(translateX(500px));
		@include max-width(M){
			@include transform(translateX(100%));
		}
	}
	.lightbox-is-open & {
		@include transform(translateX(-50%));
		@include max-width(M){
			@include transform(translateX(-100%));
		}
	}
}

.cd-logo {
		height: $logo-height-S;
	@include MQ(M) {
		height: $logo-height-M;
	}
	width:auto;
	img{
	height: $logo-height-S;
	width:auto;
	margin: 10px 10px;
	float: left;
	@include MQ(M) {
		height: $logo-height-M;
	}

	}
	h1{
	  float: left;
	  margin: 0px;
	  line-height: 27px;
	  font-weight: normal;
	  position: relative;
	  top: 20%;
	  @include max-width(M) {
	  	  line-height: 14px;
		  top: 41%;
  		  font-size: 1em;
	  }
	}
	.visibility-hidden{
		visibility: hidden!important;
	}
}

.cd-primary-nav-trigger {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background-color: lighten($color-1, 5%);
	z-index: 1003;

	@include max-width(M) {
		
		&{
			height: $header-height-S;
		}

	}

	&:hover > .cd-menu-icon::before{
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		top: 0px;
	}
	&:hover > .cd-menu-icon::after{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		top: 0px;
	}
	&:hover > .cd-menu-icon{background-color: rgba(255, 255, 255, 0);}

	.cd-menu-text {
		color: $color-3;
		text-transform: uppercase;
		font-weight: 600;
		/* hide the text on small devices */
		display: none;
		font-family: $typing-font;
	}
	.cd-menu-icon {
		/* this span is the central line of the menu icon */
		display: inline-block;
		position: absolute;
		@include center; // mixin inside partials > _mixins.scss
		width: 18px;
		height: 2px;
		background-color: $color-3;
		@include transition(background-color .3s);
		
		/* these are the upper and lower lines in the menu icon */
		&::before, &:after {
			content: '';
			width: 100%;
			height: 100%; 
			position: absolute;
			background-color: $color-3;
			right: 0;

			-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
			-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
			transition: transform .3s, top .3s, background-color 0s;
		}
		
		
		&::before {
			top: -5px;
		}
		&::after {
			top: 5px;
		}

		&.is-clicked {
			background-color: rgba($color-3, 0);

			&::before, &::after {
				background-color: rgba($color-3, 1);
			}

			&::before {
				top: 0;
				@include transform(rotate(135deg));
			}

			&::after {
				top: 0;
				@include transform(rotate(225deg));
			}
		}
	}

	@include MQ(M) {
		width: 100px;
		padding-left: 1em;
		background-color: transparent;
		height: 30px;
		line-height: 30px;
		right: 2.2em;
		top: 25px;

		.cd-menu-text {
			display: inline-block;
		}

		.cd-menu-icon {
			left: auto;
			right: 1em;
			@include transform(translateX(0) translateY(-50%));
		}
	}
}

.cd-nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	max-width: 100vw;
	max-height: 100vh;
	background-color: $color-1;
	visibility: hidden;
	@include transition(visibility 0s $animation-duration);

	.cd-navigation-wrapper {
		/* all navigation content */
		height: 100%;
		max-height: 100vh;
		width: 500px;
		@include max-width(M){
			width: 100%;
			max-width: 100vh;
		}
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		@include transform(translateX(-50%));
		@include transition(transform $animation-duration);
		@include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
	}

	.navigation-is-open & {
		visibility: visible;
		@include transition(visibility 0s 0s);
		
		.cd-navigation-wrapper {
			@include transform(translateX(0));
			@include transition(transform $animation-duration - 0.2s);
			@include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
		}
	}

	div{
		@include max-width(M){
			width: 100%;
			max-width: 100vh;
		}
		img{
			width: 150px;
			@include horizontal-align;
			margin: 9em 0em;
			@include max-width(iPad){
				margin: 3em 0em;
			}

		}

	}

	h2 {
		position: relative;
		margin-bottom: 1.7em;
		font-size: 1.3rem;
		font-weight: normal;
		color: lighten(white, 15%);
		text-transform: uppercase;
		text-align: center;

		&::after {
			/* bottom separation line */
			content: '';
			position: absolute;
			left: 5%;
			bottom: -20px;
			height: 1px;
			width: 90%;
			background-color: currentColor;
		}
	}

	.cd-primary-nav {
		margin-top: 60px;
		list-style-type: none;
		padding-top: 0px;
		padding-left: 0px;
		margin: 0px auto;


		a {
			font-family: $secondary-font;
			font-size: 2.4rem;
			color: rgba($color-3, .3);
			display: inline-block;
			@include transition(color 0.5s);
			@include horizontal-align;

			&.selected {
				color: $color-3;
			}
		}
	}
	@include MQ(L) {

		.cd-navigation-wrapper {
			@include clearfix;
			div {
				width: 500px;
			}
		}

		.cd-primary-nav {
			margin-top: 0;
		}

		h2 {
			font-size: 1.5rem;
		}

		.cd-primary-nav {

			li {
				padding: 1.5em 0;
				@include transition(background 0.5s);

				&:hover{
					background-color: rgb(58, 92, 100);
				}
			}

			a {
				font-size: 3em;
				&:hover{
					color: white;
				}
			}
			
		}

		.cd-contact-info {
			margin-top: 120px;
			text-align: right;

			li {
				margin-bottom: 2.4em;
			}

			li, a, span {
				font-size: 2rem;
			}
		}
	}
	@include max-width(M){
		.cd-navigation-wrapper {
			div {
				width: 100%;
			}
		}
	}
}


.lightbox-side {
	position: fixed;
	z-index: 0;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: $color-1;
	visibility: hidden;
	@include transition(visibility 0s $animation-duration);
		@include max-width(M){
			width: 100%;
		}
	.navigation-wrapper {
		/* all navigation content */
		height: 100%;
		width: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		@include transform(translateX(50%));
		@include transition(transform $animation-duration);
		@include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
		
		.icon-wrapper{
			cursor: pointer;
			position: absolute;
			top: $header-height-M + 25px;
			right: 1em;
			height: 50px;
			width: 50px;
			margin: 0px;
			display: inline-block;

			.menu-icon {
				/* this span is the central line of the menu icon */
				display: inline-block;
				position: absolute;
				width: 25px;
				height: 2px;
				background-color: rgba($color-3, 0);
				transform: translate(10px, 25px);
				
				/* these are the upper and lower lines in the menu icon */
				&::before, &:after {
					content: '';
					width: 100%;
					height: 100%; 
					position: absolute;
					background-color: $color-3;
					right: 0;
				}
				
				
				&::before {
						top: 1px;
						@include transform(rotate(135deg));
				}
				&::after {
						top: 0;
						@include transform(rotate(225deg));
				}
			}
		}

		div{

			padding-top: $header-height-M + 50px;
			h1{
				font-size: 4em;
				width: 100%;
				text-align: center;
				font-weight: normal;
				max-width: 80%;
				margin: 0px auto;

			}

			p{
				width: 100%;
				text-align: center;
				max-width: 80%;
				margin: 1em auto;
			}
		}
			.hide{
				display: none;
			}
			.show{
				display: block;
			}
	}

	.lightbox-is-open & {
		visibility: visible;
		@include transition(visibility 0s 0s);
		
		.navigation-wrapper {
			@include transform(translateX(0));
			@include transition(transform $animation-duration - 0.2s);
			@include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
		}
	}
}


$max-width: em(1400);

.strategy-section{
	background: url(../img/InnovateDesignMake-floor-bg.jpg);
	padding:  6em 0em;
}
  $mobile: new-breakpoint(max-width 767px, 12);
section {
  @include outer-container;
  div { 
  	@include span-columns(4); 
 	h1{
 		font-weight: normal;
 		text-align: center;
 		font-size: 3em;
 		color: $color-1;
 	}
  	.fa{
  		font-size: 11em;
  		display: inline-block;
		width: 100%;
		text-align: center;
		color: $color-1;
  	}
  	p{
  		text-align: center;
  		color: $color-1;
  	}
  	@include media($mobile) {
  	@include span-columns(12); 
 	h1{
 		font-weight: normal;
 		text-align: center;
 		font-size: 4em;
 		color: $color-1;
 	}
  	.fa{
  		font-size: 11em;
  		display: inline-block;
		width: 100%;
		text-align: center;
		color: $color-1;
  	}
  	p{
  		text-align: center;
  		color: $color-1;
  		font-size: 2em;
  	}
  }
}

}

.about-container{

	background: url(../img/InnovateDesignMake-floor-bg.png);
	
	div{
		 @include outer-container;
		padding: 5em 2em;
		height: auto;
		@include MQ(S) {
			
				
			h1{
				font-size: 4.5em;
				color: $color-1;
				margin: 0px auto;
				@include horizontal-align;
				display: inline-block;
				}
			
		p{
			color: $color-1;
			text-align: center;
			font-size: 2em;
		}
		img{
			max-width: 380px;
			width: 100%;
			height: auto;
			@include horizontal-align;
			transition: box-shadow 0.5s;
		}
		}
		@include MQ(M) {
		
			
			h1{
				font-size: 3em;
				font-weight: bold;
				color: $color-1;
				margin: 0px auto;
				@include horizontal-align;
				display: inline-block;
			}
		
		p{
			color: $color-1;
			text-align: center;
			font-size: 1.2em;
		}
			
		img{
			max-width: 380px;
			width: 100%;
			height: auto;
			@include horizontal-align;
		}
		}
		@include MQ(L) {
		
			
			h1{
				font-size: 3em;
				font-weight: bold;
				color: $color-1;
				margin: 0px auto;
				display: inline-block;
			}
		
		p{
			color: $color-1;
			text-align: center;
			font-size: 1.2em;
		}
			
		img{
			max-width: 300px;
			width: 100%;
			height: auto;
			@include horizontal-align;
		}
		}

	}
}
.contact-container{
	div{
		@include outer-container;
		padding: 5em 2em;
		height: auto;
		.mail{	
			h1{
				text-align: center;
				font-weight: normal;
				span{
					border-bottom: 3px solid #2bc0e4;

				}
			}
			a{
				display: inline-block;
				@include horizontal-align;
			i{
				font-size: 4em;
				float: left;
			}

			h1{
				font-weight: normal;
				font-size: 3em;
				float: left;
				margin: 0em 0.4em;
			}}
		}
		.social{
			display: inline-block;
			@include horizontal-align;	

			.fa-google-plus-square:hover{color: #dd4b39;}
			.fa-linkedin-square:hover{color: #007bb6;}
			.fa-github:hover{color: #040204;}
			.fa-twitter-square:hover{color: #00aced;}
			.fa-vimeo-square:hover{color: #aad450;}
			.fa-dribbble:hover{color:  #ea4c89;}
			i{
				font-size: 4em; 
				margin:0em 0.3em;
				transition: color 0.5s;
			}
		}
	}
}
@include max-width(S) {	
.contact-container{
	div{
		@include outer-container;
		padding: 5em 2em;
		height: auto;
		.mail{	
			a{
				display: inline-block;
				@include horizontal-align;
			i{
				font-size: 2.5em;
				float: left;
			}

			h1{
				font-weight: normal;
				font-size: 2em;
				float: left;
				margin: 0em 0.4em;
			}}
		}
	}
}
}

@include max-width(S) {	
footer{

	p{
		text-align: center;
		margin: 0px!important; 
		padding: 1.5em 0em;
		font-size: 1.5em;
	}
}
}

footer{

	p{
		text-align: center;
		margin: 0px!important; 
		padding: 1.5em 0em;
	}
}


.cd-main-content {
	position: relative;
	z-index: $content-zindex;
	font-size: 100%;
	background-color: $color-1;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

		/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	@include transition(transform $animation-duration);
	@include transition-timing-function(cubic-bezier(.91,.01,.6,.99)); 

	.navigation-is-open & {
		@include transform(translateX(500px));
		@include max-width(M){
			@include transform(translateX(100%));
		}
	}
	.lightbox-is-open & {
		@include transform(translateX(-50%));
		@include max-width(M){
			@include transform(translateX(-100%));
		}
	}

	p {
		line-height: 1.6;
		margin: 2em 0;
	}



	@include MQ(L) {
		p {
			@include font-size(20px);
		}
	}
}
@include max-width(S) {
	.cd-main-content{
		font-size: 2vw;
		position: relative;
		z-index: $content-zindex;
	}
}
@include max-width(XM){
	.cd-main-content{
		font-size: 2vw;
		position: relative;
		z-index: $content-zindex;
	}
}

.portfolio-section{
  margin: 0 auto;
  width: 100%;
  height: 0;
  padding-top: 54%;
  overflow: hidden;
  position: relative;
	


	.transform-container{

	 	 position: absolute;
  		top: 0;
  		-webkit-transform-origin: 0 0;
  		transform-origin: 0 0;
		@include max-width(iPad){
			transform: none!important;
		}

		.transform-pic{
	 		display: block;
	  		width: 2560px;
	  		@include max-width(iPad){
	  			width: 100%;
	  		}
		}

		.transform-content{
			position: absolute;
			width: 1280px;
			height: 800px;
			top: 0px;
	  		left: 0px;
	  		pointer-events: auto;
			transform: matrix3d(.763,.00816,0,0,-.07494,.711,0,-.00006,0,0,1,0,794,308,0,1);
			-webkit-transform: matrix3d(.763,.00816,0,0,-.07494,.711,0,-.00006,0,0,1,0,794,308,0,1);
			transform-origin: 0px 0px 0px;
			overflow: hidden;
			
			.flickity-viewport{
				height: 100%!important;
			}

			.overlay{
				position: absolute;
				height: 100%;
  				width: 100%;
  				background-color: rgba(32, 37, 39, 0.35);
			}

			.main-gallery{
				height: 800px;
				z-index: 1;
				.gallery-cell{
					width: 100%;
					height: 100%;
						&:hover > .view-more-click{
							transform: translateY(100%);
						}
					@include max-width(smallnotebook){
					}
					figcaption{
						position: absolute;
						bottom: 100%;
						z-index: 1;
						background-color: rgba(34, 39, 40, 0.9);
						cursor: pointer;
						@include MQ(iPad){
							@include transition(transform 0.5s);
						}
						@include max-width(iPad){
							
							bottom: inherit;
						}
						p{
							text-align: center;
							color: $color-3;
							font-weight: normal;
							margin: 0px;
							display: inline-block;
							padding-right: 2em;
							font-size: 2em;
						}
						i{
							padding:1em;
							font-size: 2em;
						}
						@include max-width(iPad){
						p{
							font-size: 2em;
						}
						i{
							font-size: 2em;
						}
						}
					}
					h1{
					  z-index: 100;
					  position: absolute;
					  text-align: center;
					  top: 50%;
					  left: 50%;
					  transform: translate(-50%, -50%);
					  font-weight: normal;
					  font-size: 3em;
					  color: rgb(255, 255, 255);
					  margin: 0px;
					  padding: 0.5em;
					  background-color: rgb(41, 47, 49);
					}
					@include max-width(iPad){
						h1{
							font-size: 3em;
						}
					}
					img{
						position: absolute;
						top: 0px;
						z-index: 0;
						@include transition(opacity 0.5s);
					}
					@include max-width(iPad){
						img{
							width: 100%;
						}
					}
				}
			}
		@include max-width(iPad){
			.main-gallery{
				height: 100%;
			}
		}
		}
		@include max-width(iPad){
			.transform-content{
				transform: none;
				-webkit-transform: none;
				height: 100%;
				width: 100%;
			}
		}
	}
}
