// colors

$color-1: #202527; // blue
$color-blue-backup: #242B2D;
$blue: #2BC0E4; 
$color-2: #e36767; // red
$color-3: #fff; // white
$yellow: #EAECC6;

// fonts 


$secondary-font: 'Source Sans Pro', sans-serif;

$typing-font: 'Source Sans Pro', sans-serif;

$heading-font: 'Montserrat', sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 80px;

$logo-height-S: 30px;
$logo-height-M: 60px;

// z-index 

$content-zindex: 1;
$nav-zindex: 1002;
$header-zindex: 1003;

// Grid

$animation-duration: 0.7s;

$tab-filter-height: 125px;